@media screen and (max-width: 400px) {
	body {
		background-color: olive;
	}
}

@font-face {
	font-family: indieFlower;
	src: url(fonts/IndieFlower-Regular.ttf);
}

.first-p::first-letter {
	font-style: Oblique;
	font-size: 30px;
}

header {
	text-align: center;
	background-color: #407851;
	color: rgb(255, 255, 255);
}
header h1 {
	color: hsla(51, 94%, 50%, 0.856);
	margin-bottom: 0;
}

header h2 {
	color: hsla(51, 94%, 50%, 0.856);
	margin-bottom: 0;
}

footer p {
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #407851;
	text-align: center;
	font-size: x-large;
	font-style: italic;
}
nav ul li {
	display: inline-block;
	width: 150px;
	text-align: center;
	color: white;
}
nav a:link,
nav a:visited,
nav a:active {
	color: white;
	text-decoration: none;
}
nav ul li :hover {
	background-color: hsla(51, 94%, 50%, 0.856);
}
body {
	background-image: url('images/valeriia-miller-fEPMUhO5kCc-unsplash.jpg');
	background-size: contain;
	background-attachment: fixed;
}

p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
	font-family: 'Lobster', cursive;
}

h2,
h3 {
	font-family: indieFlower;
}

h3,
h4 {
	margin: 0;
	padding: 0;
}

li {
	font-family: 'Lobster', cursive;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

#container {
	width: 60%;
	justify-content: center;
}
#columns {
	column-count: 3;
	column-gap: 10px;
	column-rule-style: solid;
	column-fill: auto;
}

.koalaImage {
	border: thick solid #407851;
	margin: 5px;
}
.koalaImage figure {
	border: thin solid black;
	border-radius: 4px;
	box-shadow: 5px 5px 5px black;
}
figcaption {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: medium;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.text-align {
	text-align: center;
	font-size: larger;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background-green {
	background-color: #407851;
}

.header-picture {
	margin: auto;
	padding: 0;
	border: solid black;
	width: 90%;
}

.main-content {
	display: flex;
	margin: auto 20%;
	flex-direction: column;
	background-color: blanchedalmond;
}
